.wrapper {
  margin: 2rem auto;
  max-width: 960px;
  border: 5px solid #69542c;
  border-radius: 100px;
  background-color: rgb(253, 245, 220);
}

header {
  padding: 1rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid #69542c;
  min-height: 60px;
}

header h1 {
  color: #69542c;
  font-size: 2rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #69542c;
  padding: .25rem 1rem;
  margin: .25rem;
  border: 2px solid rgb(253, 245, 220);
  border-radius: 5px;
}

nav ul li a:hover {
  border: 2px solid #69542c;
  border-radius: 5px;
}

.recipeBook {
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

#first {
  width: 570px;
  height: 570px;
  grid-column: span 2;
  grid-row: span 2;
}

.recipe {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border: 2px solid #69542c;
  border-radius: 20px;
}

footer{
  border-top: 5px solid #69542c;
  min-height: 60px;
}

footer ul {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer a {
  text-decoration: none;
  padding: .25rem 1rem;
  font-size: 1.25rem;
  color: #69542c;
  border: 2px solid rgb(253, 245, 220);
  border-radius: 5px;
}

footer a:hover {
  border: 2px solid #69542c;
  border-radius: 5px;
}