.wrapper {
  margin: 2rem auto;
  max-width: 960px;
  border: 5px solid #69542c;
  border-radius: 100px;
  background-color: rgb(253, 245, 220);
}

header {
  padding: 1rem 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid #69542c;
  min-height: 60px;
}

header h1 {
  color: #69542c;
  font-size: 2rem;
}

img {
  max-width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #69542c;
  padding: .25rem 1rem;
  margin: .25rem;
  border: 2px solid rgb(253, 245, 220);
  border-radius: 5px;
}

nav ul li a:hover {
  border: 2px solid #69542c;
  border-radius: 5px;
}

#recipeBook {
  padding: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.recipe {
  border: 2px solid #69542c;
  border-radius: 20px;
  overflow: hidden;

  width: 100%;
  aspect-ratio: 1 / 1;
}

.recipe a {
  text-decoration: none;
  color: #69542c;
}

.recipe img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-bottom: 2px solid #69542c;
}

.recipe h2 {
  font-size: 1.1em;
  background-color: #69542c5d;
  padding: .25rem .5rem;
  margin: -.25rem 0 0 0 ;
}

.recipe p {
  font-size: 1em;
  padding: .25rem .5rem;
}

.first {
  grid-column: span 2;
  grid-row: span 2;
}

.first h2 {
  font-size: 2em;
}

.first p {
  font-size: 1.5em;
}

.recipe:hover {
  width: 105%;
  height: 105%;
  margin: -2.5% -2.5%;
  font-size: 110%;
}

footer{
  border-top: 5px solid #69542c;
  min-height: 60px;
}

footer ul {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

footer a {
  text-decoration: none;
  padding: .25rem 1rem;
  font-size: 1.25rem;
  color: #69542c;
  border: 2px solid rgb(253, 245, 220);
  border-radius: 5px;
}

footer a:hover {
  border: 2px solid #69542c;
  border-radius: 5px;
}

.imageAndTitle {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 2em;
  padding: 2em;
  height: 300px;
}

.imageAndTitle img {
  border: 2px solid #69542c;
  border-radius: 30px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.imageAndTitle h1 {
  font-size: 2.5em;
}

.imageAndTitle p {
  margin-top: 1em;
  font-size: 1.5em;
}

.ingredients h2, .directions h2{
  font-size: 1.75em;
  padding: 0.5rem 2rem;
  border-bottom: 2px solid #69542c;
  color: #69542c;
}

.ingredients ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem 1rem;
  padding: 1rem 2rem;
}

.ingredients li {
  list-style: none;
  font-size: 1.35em;
}

.directions p{
  padding: 0 2rem;
  margin-top: 1rem;
  font-size: 1.35em;
}

.about h1 {
  font-size: 200%;
}

.about p {
  font-size: 130%;
  padding-top: .5rem;
}

.about img {
  float: right;
  margin: 0 0 0 1rem;
}

.about main {
  min-height: 300px;
  padding: 1rem;
}

@media screen and (max-width: 500px) {
  .first {
  grid-column: span 1;
  grid-row: span 1;
  }

  .first h2 {
    font-size: 1.1rem;
  }

  .first p {
    font-size: 1rem;
  }
}